/* 
*	Welcome to my personal website. 
*	Radek
*/

body {
	margin: 80px auto;
	background: #fff;
	width: 750px;
	color: #0A0A0A;
	font-family: Merriweather, Georgia, serif;
	font-size: 24px;
	font-weight: normal;
	-webkit-font-smoothing: subpixel-antialiased;
}

@media screen and (max-device-width: 790px) {
	body {
		width: 100%;
	}
}

a {
	color: blue;
	text-decoration: none;
	border-bottom: 1px solid blue;
}

a:hover {
	border-bottom: 0px solid #0A0A0A;
}

section {
	margin: 5ex 0;
}

header h1{
	font-size: 44px;
}

footer {
	color: rgb(141, 145, 141);
}