body {
  margin: 50px auto;
  max-width: 850px;
  color: #484848;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

hr {
  margin-top: 52px;
  margin-bottom: 42px;
  text-align: center;
  display: block;
  border: 0;
  
}

hr:before {
  content: ' * * * ';
  display: inline-block;
  margin-left: .6em;

}

nav {
  background-color: inherit;
  margin: 0;
  overflow: hidden;
}

nav ul{
  margin: 0;
  padding: 0;
  text-align: right;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav > ul > li > a {
  color: #aaa;
  background-color:inherit;
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: underline;
}

a:hover {
  color: blue;
  text-decoration: none;
}

footer {
  text-align: center;
}

img {
  height: 125px;
}

div.img {
  text-align: center;
}

.center {
  text-align: center;
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}
ol.chat li:only-child {
  list-style:none;
}

ol.chat li blockquote {
  margin: 0 40px 20px 0;
  /*Borders - (Optional)*/
  border-left: 15px solid navy;
  border-right: 2px solid navy
}
ol.chat li:nth-child(even) blockquote {
  margin: 0 0 20px 40px;
  /*Borders - (Optional)*/
  border-left: 15px solid green;
  border-right: 2px solid green
}

blockquote::before { 
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after {
  /*Reset to make sure*/
  content: "";
}

blockquote em {
  font-style: italic;
}

#portrait {
  height:240px;
  margin-top: 18px;
  border-radius:50%;
}

acronym, abbr {
  font-weight: bold;
}